numpy
scipy
pandas
xarray
netCDF4
dask
zarr
torch
torchvision
torchaudio
scikit-learn
xesmf
cartopy
cftime
cfgrib
pyproj
shapely
rasterio
geopandas
matplotlib
seaborn
jupyter
jupyterlab
tqdm
h5py
pickle5

